@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shopping Cart Example</h1>
    <p class="lead">Items can be viewed by guests, but only registered users can access the shopping cart. Please register, or log in with the email test@email.com or test2@email.com and password Abc!23</p>
</div>